@import "../../variables.css";

.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 20rem;
  gap: var(--margin-medium-lm);
  border-radius: 64px;
  background-color: var(--color-light);
  height: 100%;
  justify-content: center;
  margin: var(--margin-medium-sm);
  padding: var(--margin-large);
  box-shadow: #000 0px 5px 15px;
  overflow-y: scroll;
  
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  text-align: center;

  /* Internet Explorer 10+ */
}

.card::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

@media screen and (max-width: 1700px) {
  .card {
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }
}

@media screen and (max-width: 1440px) {
  .card {
    grid-template-columns: 1fr 1fr;
    margin: var(--margin-small);
    gap: var(--margin-medium-lm);
    text-align: center;
  }
}

@media screen and (max-width: 1080px) {
  .card {
    grid-template-columns: 1fr 1fr;
    
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .card {
    grid-template-columns: 1fr;
    margin: var(--margin-medium-s);
    text-align: center;
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .card {
    grid-template-columns: 1fr;
    padding: var(--margin-small);
    gap: var(--margin-medium-sm);
    grid-auto-rows: 25rem;
    border-radius: 28px;
    text-align: center;
   height: 25rem;
  }

    

}