@import "../../variables.css";

.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 20rem;
  gap: var(--margin-medium-lm);
  border-radius: 64px;
  background-color: var(--color-light);
  height: 100%;
  justify-content: center;
  margin: var(--margin-medium-sm);
  padding: var(--margin-large);
  box-shadow: #000 0px 5px 15px;
  overflow-y: scroll;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}

.card::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

@media screen and (max-width: 1700px) {
  .card {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 25rem;
  }
}

@media screen and (max-width: 1440px) {
  .card {
    grid-auto-rows: 20rem;
  }
}

@media screen and (max-width: 1080px) {
  .card {
    /* grid-template-columns: 1fr; */
    grid-auto-rows: 20rem;
  }
}

@media screen and (max-width: 768px) {
  .card {
    grid-template-columns: 30rem;
    /* margin: var(--margin-medium-s); */
  }
}

@media screen and (max-width: 500px) {
  .card {
    grid-template-columns: 20rem;
    padding: var(--margin-small);
    gap: var(--margin-medium-sm);
    grid-auto-rows: 24rem;
    border-radius: 28px;
    height: 26rem;
  }

}

@media screen and (max-width: 375px) {
  .card {
    grid-template-columns: 16rem;
    padding: var(--margin-small);
    gap: var(--margin-small);
    grid-auto-rows: 25rem;
    border-radius: 28px;
    height: 25rem;

  }

}

@media screen and (max-width: 320px) {
  .card {
    grid-template-columns: 14rem;
    padding: var(--margin-small);
    gap: var(--margin-small);
    grid-auto-rows: 20rem;
    border-radius: 28px;
    height: 25rem;

  }

}