@import "../../variables.css";

body,
h1,
p {
  margin: 0;
  padding: 0;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: var(--color-light);
  padding: var(--margin-small) var(--margin-medium-large);
  border-radius: 64px;
  margin: var(--margin-medium-sm);
  box-shadow: #000 0px 5px 15px;
}

.navbar__logo {
  color: var(--color-dark);
  font-weight: bold;
  text-decoration: none;
  font-size: var(--font-medium-sm);
  cursor: pointer;
}

.navbar__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: end;
  list-style-type: none;
  display: flex;
}

.navbar__item {
  font-size: var(--font-medium-s);
  margin: 0 var(--margin-medium-s);
  cursor: pointer;
  color: var(--color-dark);
}

.hamburger__icon {
  display: none;
  /* filter: var(--filter); */
}

.hamburger__menu {
  position: absolute;
  width: max-content;
  padding: var(--margin-small);
  top: 5.5rem;
  right: 3.3rem;
  border-radius: 24px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-light);
  box-shadow: #000 0px 5px 15px;
}

.mobile__menu__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile__menu__item {
  font-size: var(--font-small);
  width: 100%;
  cursor: pointer;
  color: var(--color-dark);
  padding: var(--margin-small);
  text-align: center;
}

.mobile__menu__item:hover {
  color: var(--color-light);
  background-color: var(--color-dark) !important;
}

/* Responsive */

@media screen and (max-width: 1024px) {
  .navbar {
    grid-template-columns: 5fr 1fr 2rem;
  }

  .navbar__list {
    display: none;
  }

  .hamburger__icon {
    display: flex;
    cursor: pointer;
    grid-column: 3/3;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    grid-template-columns: 5fr 1fr 1rem;
    margin: var(--margin-medium-s);
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .navbar {
    grid-template-columns: 4fr 0.5fr 1rem;
    padding: var(--margin-small) var(--margin-medium);
    border-radius: 20px;
  }

  .hamburger__menu {
    top: 4.5rem;
    right: 2.5rem;
  }

  .navbar__logo {
    font-size: var(--font-small);
  }
}

@media screen and (max-width: 320px) {
  .navbar__logo {
    font-size: 1rem;
  }
}