.card {
    position: relative;
    background-color: var(--color-dark);
    display: flex;
    border-radius: 64px;
    align-items: center;
    padding: var(--margin-medium-s);
    box-shadow: #000 0px 5px 15px;
    gap: var(--margin-small);
    text-align: center;
}

.card__image {
    max-width: 40%;
    margin: var(--margin-medium-s);
    margin-top: 0;
}

.card__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card__content__text {
    font-size: var(--font-small);
    color: var(--color-light);
}

.card__content__title {
    font-size: var(--font-medium-large);
    font-weight: 900;
    color: var(--color-light);
}

.card__button {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: var(--margin-medium);
    background-color: var(--color-light);
    border-radius: 64px;
    padding: var(--margin-small);
    border: none;
    font-size: var(--font-medium-s);
    font-weight: 700;
    color: var(--color-dark);
    cursor: pointer;
}

/* Responsive */

@media screen and (max-width: 1476px) {
    .card {
        padding: var(--margin-small);
    }
}

@media screen and (max-width: 1210px) {
    .card__content__title {
        font-size: var(--font-medium);
    }

    .card {
        padding: 0;
    }
}

@media screen and (max-width: 1080px) {
    .card {
        padding: var(--margin-small);
    }

    .card__image {
        max-width: 30%;
    }
}

@media screen and (max-width: 680px) {
    .card {
        gap: var(--margin-small);
        flex-direction: column;
        justify-content: center;
        border-radius: 28px;
    }

    .card__image {
        max-width: 50%;
        margin: 0;
    }

    .card__button {
        position: relative;
        margin-top: 0;
    }
}

@media screen and (max-width: 360px) {
    .card__button {
        margin: 0;
        font-size: medium;
    
    }

    .card__image {
        max-width: 50%;
        margin: 0;
    }

}