#root {
  margin: 0 auto;
  height: 100vh;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;

}

@media screen and (max-width: 670px) {
  .container {
    height: auto;
  }

  #root {
    height: auto;
  }
}